<div class="p-grid p-justify-center">
    <div class="p-col-10 p-sm-6 p-md-4 card">
        <p-card>
            <div class="p-grif">
                <div class="p-col-12 text-center">
                    <i class="fas fa-car fa-4x" style="color: #007AD9;"></i>
                    <h2>Car Sales</h2>
                </div>
                <div class="p-col-12">
                    <label for="">Usuario: </label>
                    <input type="text" pInputText class="p-col-12" />
                </div>
                <div class="p-col-12">
                    <label for="">Senha: </label>
                    <input type="text" pInputText class="p-col-12" />
                </div>
                <div class="p-col-12">
                    <button pButton type="button" label="Entrar" class="p-col-12"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>
